.card {
    width: 18rem;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-img-top{
    height: 190px;
}



@media (max-width: 600px) {

    .card{
       margin: 0 auto 15px auto;
    }
    
}

